


.section2{
    position: relative;
    height: 800px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FA7268;
}

.custom-shape-divider-top-1642607151 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1642607151 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 158px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1642607151 .shape-fill {
    fill: #FFFFFF;
}